$days: 1, 2;

@each $day in $days {
  .day-#{$day} {
    --paint: paint(day-#{$day});
  }
}

.day {
  min-height: 100vh;
  display: grid;
  align-content: center;
}

[class^="day-"] {
  height: 400px;
  display: grid;
  margin-bottom: 1rem;

  width: 100%; // need this for Firefox to use polyfill
  gap: 1rem;

  @media (width > 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  > div:not(.border) {
    border: 1px solid;
  }

  > div {
    width: 100%; // need this for Firefox to use polyfill
    display: grid;
    place-content: center;
  }
}

.background {
  background: var(--paint);

  h3 {
    color: black;
    background: rgb(255 255 255 / 0.85);
    padding: 0.25rem 1rem;
  }
}

.border {
  border-width: 20px;
  border-style: solid;
  border-image-source: var(--paint);
  border-image-repeat: repeat;
  border-image-slice: 5% 3%; // I think this is a percentage of the overall to show. Not 100% though!
}
